body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("kabah.png"); 
    background-position: center;
    background-size: 1440px;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(70px);
    position: center;
    width: 1240px;
    height: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.hero {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-top: 95px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.demo-btn {
    background-color: #28a745;
    color: #fff;
}

.signup-btn {
    background-color: #6c757d;
    color: #fff;
}
